@font-face {
    font-family: "Japan",sans-serif;
    src: url(../fonts/JAPAN-Light.woff);
}

*{
    padding: 0px;
    margin: 0px;
    user-select: none; 
}

body{
    background-image: url(../images/assets/ghbar.png);
    
}

.navbar {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between ;
    padding: 0px 60px;
    padding-top: 20px;
    padding-bottom: 60px;
    margin-left: 0%;
    
}

.respo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.respo .toggle{
    width: 30px;
    display: none;
}


.navbaritems{
    display: flex;
    justify-content: flex-start;
    gap: 80px;
    padding-right: 30px;
    font-family: "Japan", sans-serif;
    color: #D94E4E;
    list-style-type:none;
    align-items: center;
}

.navbaritems li{
    padding: 5px 13px;
    border-radius: 20px;
    border: 2px solid transparent;
    
 }

 .navbaritems a{
    text-decoration: none;
    color: #D94E4E;
    padding: 5px 13px;
    border-radius: 20px;
    border: 2px solid transparent;
}


.navbaritems a:hover{
   border-radius: 20px;
   border-color: #D94E4E;
   background-color: #D94E4E;
   color: aliceblue;
}
/* .navbaritems li a:hover{
    color: aliceblue;
    z-index: 200;
 } */



.logo{
    padding: 0px 20px;
}


.navbar .toggle{
   z-index: 200;
   color: #D94E4E;
}

.opening{
    display: flex;
    justify-content: space-evenly;
    flex-basis: 50%;
    padding: 40px 80px;
    padding-bottom: 200px;
    /* background-image: url(../images/opening-bg.png); */
    position: relative;
    z-index: 0;
    background-size: cover;
}

.opening .optext h1{
    font-family: "Old Japanese", sans-serif;
    color: #4E4D66;
    font-size: 57px;
    padding: 10px 0px;
    padding-left: 70px;
    word-wrap: break-word;
    width: 90%;
}

.opening .optext h3{
    font-family: "Montserrat", sans-serif;
    color: #868686;
    font-size: 20px;
    padding: 10px 0px;
    width: 90%;
    padding-left: 70px;
}

.opening .opening img{
    width: 80%;
    position: relative;
    z-index: 100;
}

.par1{
    display: flex;
    justify-content: space-evenly;
    /* flex-basis: 50%; */
    /* padding: 40px 80px; */
    position: relative;
    /* background-size: cover; */
}

.par1 .par1text h1{
    font-family: "Old Japanese", sans-serif;
    color: #4E4D66;
    font-size: 57px;
    padding: 10px 0px;
    padding-left: 70px;
    word-wrap: break-word;
    width: 90%;
}

.par1 .par1text h3{
    font-family: "Montserrat", sans-serif;
    color: #868686;
    font-size: 20px;
    padding: 10px 0px;
    width: 90%;
    padding-left: 70px;
}

.par1 .par1img img{
    width: 100%;
    position: relative;
    z-index: 1;

}


.par2{
    display: flex;
    justify-content: center;
    padding: 0px 0px;
}

.par3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 50%;
    padding: 10px 0px;
    position: relative;
    z-index: -1;
    background-size: cover;
}

.par3 .par3text{
    padding-top: 0px 0px;
}

.par3 .par3text h1{
    font-family: "Old Japanese", sans-serif;
    color: #4E4D66;
    font-size: 57px;
    padding: 0px 0px;
    padding-left: 90px;
    word-wrap: break-word;
    width: 90%;
}

.par3 .par3text h3{
    font-family: "Montserrat", sans-serif;
    color: #868686;
    font-size: 20px;
    padding: 10px 0px;
    width: 90%;
    padding-left: 90px;
}
.par3 .par3img{
    width: 80vw;
}
.par3 .par3img1{
    width: 80vw;
}

.par3 .par3img img{
    width: 100%;
    margin: 0px 0px;
    padding: 0px 0px;
    position: relative;
    z-index: 1;
    align-items: center;
}
.par3 .par3img1 img{
    width: 100%;
    margin: 0px 0px;
    padding: 0px 0px;
    position: relative;
    z-index: 1;
    align-items: center;
}

.discover {
    display: flex;
    justify-content: center;
    padding: 80px 20px;

}

.discover button{
    border: 2px solid #D94E4E;
    background-color: transparent;
    padding : 10px 20px;
    color: #D94E4E;
    border-radius: 10px;
    font-family: "Monserrat", sans-serif;
    align-items: center;
    font-weight: bold;
    font-size: 17;
}

.footer1{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    align-items: center;
    padding: 40px 20px;
    font-size: 20px;
}

.footer1 li{
    list-style-type: none;
}

.footer1 .icons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    width: 5%;
}

.footer1 .links{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    align-items: flex-start;

}

.footer1 ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: flex-start;
    color: aliceblue;
    font-family: "Monserrat", sans-serif;
}

.all-rights{
    display: flex;
    color: aliceblue;
    justify-content: center;
    font-family: "Monserrat", sans-serif;
    padding-bottom: 5px;
}



/* ABout page $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/


.h1{
    display: flex;
    justify-content: center;
    font-family: "Old Japanese", sans-serif;
    color:#4E4D66;
    font-size: 30px;
}



/* Contact page $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

.op-contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px;
    gap: 50px;
    align-items: center;
    padding: 40px 40px;
}

.reach{
    display: flex;
    justify-content: center;
    font-family: "Old Japanese", sans-serif;
    color:#4E4D66;
    font-size: 30px;
    /* padding: 70px 40px; */
}

.fst-header{
    font-size: 40px;
}

.contenaire1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #D94E4E;
    padding: 20px 10px;
    outline: none;
    border-radius: 10px;
    padding: 0px;

}


.fst{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* width: auto; */
}

.details{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-self: stretch;
    
    
}

.details label{
    margin: 10px 0px 5px 0px;
    width: 300px;
    font-family: "Monserrat", sans-serif;
    color: aliceblue;
}
.details input{
    font-family: "Monserrat", sans-serif;
}

.message label{
    margin: 10px 0px 5px 0px;
    font-family: "Monserrat", sans-serif;
    color: aliceblue;
}





@media (max-width: 700px){

    .fst{
        display: flex;
        flex-direction: column;
        padding: 10px 10px;
    }
    .message{
        display: flex;
        width: fit-content;
    }

    .footer1{
        display: flex;
        flex-direction: column;
    }

    .links {
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        text-align: center;
    }

    .links div{
        align-self:  center;
        align-content: center ;
        width: 200px;
        word-wrap: normal;
    }

    .h1{
        padding: 50px;
    }

    .h1 h1{
        font-size: 40px;
    }

    .opening{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-size: contain;
        padding: 10px 10px;
        position: relative;
        width: 90%;
        height: auto;
        z-index: 10;
        
    }
    .overlay {
        width: 100%;
        height: 100%;
        background-color: white;
        opacity: 0.6;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }

    .opening .optext {
        position: relative;
        z-index: 10;
        width: 90%;

    }
    .opening .opimages {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 10;
    }
    

    .opening .optext h1{
        font-size: 35px;
        padding-left: 0px;
        flex-wrap: wrap;
    }
    .opening .optext h3{
        font-size: 15px;
        padding-left: 0px;
        flex-wrap: wrap;
    }

    .opening .opimages .img-distr img{
        width: 200px;
        
    }

    .par1{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        
    }

    .par1img{
        width: 200px;
        padding-top: 30px;
    }
   

    .par1 .par1text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* padding: 10px 10px; */
        margin: 0px;
        width: 90%;
        padding-left: 0px;
        flex-wrap: wrap;
    }

    .par1 .par1text h1{
        font-size: 35px;
        padding-left: 0px;
        flex-wrap: wrap;
    }
    .par1 .par1text h3{
        font-size: 15px;
        padding-left: 0px;
        flex-wrap: wrap;
    }

    .par2{
        display: none;
    }

    .par3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .par3img{
        display: flex;
        padding-top: 30px;
        align-items: center;
        justify-content: center;
    }
    .par3 .par3img img{
        width: 200px;
    }

    .par3 .par3img1 {
        display: flex;
        align-items: flex-end;
        justify-content: end;
        padding-right: 0px;
        
    }
    .par3 .par3img1 img{
        width: 200px;
    }


    .par3 .par3text{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 10px;
        margin: 0px;
        width: 90%;
        padding-left: 0;
    }

    .par3 .par3text h1{
        font-size: 35px;
        padding-left: 0px;
        flex-wrap: wrap;
    }
    .par3 .par3text h3{
        font-size: 15px;
        padding-left: 0px;
        flex-wrap: wrap;
    }

    .fst-header{
        font-size: 30px;
    }


}

@media (max-width: 800px){
    .navbar{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 10px;
        padding-bottom: 10px;
    }
    .navbar .navbaritems{
        display: block;
        align-items: center;
        text-align: center;
        /* background-color: #D94E4E; */
        border-radius: 10px;
        color: aliceblue;
        padding: 0px 0px;
    }
    .navbar ul li{
        margin: 30px 0px;
        color: aliceblue;
        
    }
    .navbar .respo {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .navbar .respo .toggle{
        display: flex;
    }
}

 .message{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-self: stretch;
}

.message textarea{
    resize: none;
    height: 120px;
    border-radius: 6px;
    width: 300px;
}

.snd {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.snd input{
    display: flex;
    justify-content: center;
    padding: 5px 10px;
    font-weight:600;
    font-family: "Motserrat", sans-serif;
    background:white;
    border: none;
    border-radius: 10px;
    color:#D94E4E;


}

.details input{
    height: 30px;
    border-radius: 6px;
    border: transparent;
    width: 100%;
    
}

.footer .logof img{
    width: 150px;
}

/*#########################################################################################*/
/* body, body::before, body::after {
    font-family: 'Monserrat', sans-serif;
  }
   */
  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    align-items: flex-start;
    background-color: #E97171;
    padding: 1em;
  }
  
  .card {
    --padding: 1rem;
    background: white;
    border: 1px solid #777;
    border-radius: .25rem;
    overflow: hidden;
  }
  
  .card.card-shadow {
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
  }
  
  .card-header {
    font-size: 1.5rem;
    padding: var(--padding);
    padding-bottom: 0;
    margin-bottom: .5rem;
  }
  
  .card-header.card-image {
    padding: 0;
    overflow: hidden;
  }
  
  .card-header.card-image > img {
    display: block;
    width: 100%;
    max-height: 400px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: center;
    transition: 200ms transform ease-in-out;
  }
  
  .card:hover > .card-header.card-image > img {
    transform: scale(1.025);
  }

  .prd-info{
    
  }
  
  .card-name {
    font-size: 1.5rem;
    padding: 0 var(--padding);
    text-align: center;
    
  }
  
  .card-footer {
    margin-top: 1rem;
    padding: var(--padding);
    padding-top: 0;
    text-align: center;
  }

  .price{
    font-size: 1.5rem;
    padding: 0 var(--padding);
    text-align: center;
  }
  
  .btn {
    color:#D94E4E;
    border: none;
    font-size: 1rem;
    padding: .5em .75em;
    border-radius: .25em;
    cursor: pointer;
  }
  
  .btn:hover, .btn:focus {
    background:#D94E4E;
    color: aliceblue;
  }
  
  .btn.btn-outline {
    background: none;
    border: 1px solid var(--color);
    color: var(--color);
  }
  
  .btn.btn-outline:hover, .btn.btn-outline:focus {
    background: hsl(200, 50%, 90%);
  }
  
  .btn + .btn {
    margin-left: .25rem;
  }