@font-face {
    font-family: "Japan",sans-serif;
    src: url(../fonts/JAPAN-Light.woff);
}

*{
    padding: 0px;
    margin: 0px;
    /* user-select: none;  */
}

body{
    background-image: url(../images/assets/ghbar.png);
    
}

.navbar {
    display: flex;
    justify-content: center;
    /* gap: 10px; */
    justify-content: space-between;
    /* padding: 0px 60px; */
    padding-top: 20px;
    padding-bottom: 60px;
    
}

.respo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.respo .toggle{
    width: 30px;
    display: none;
}


.navbaritems{
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    padding-right: 30px;
    font-family: "Japan", sans-serif;
    color: #D94E4E;
    list-style-type:none;
    align-items: center;
}

.navbaritems li{
    padding: 5px 13px;
    border-radius: 20px;
    border: 2px solid transparent;
    
 }

 .navbaritems a{
    text-decoration: none;
    color: #D94E4E;
    padding: 5px 13px;
    border-radius: 20px;
    border: 2px solid transparent;
}


.navbaritems a:hover{
   border-radius: 20px;
   border-color: #D94E4E;
   background-color: #D94E4E;
   color: aliceblue;
}
/* .navbaritems li a:hover{
    color: aliceblue;
    z-index: 200;
 } */



.logo{
    padding: 0px 20px;
}


.navbar .toggle{
   z-index: 200;
   color: #D94E4E;
}

.opening{
    display: flex;
    justify-content: space-evenly;
    flex-basis: 50%;
    padding: 40px 80px;
    padding-bottom: 200px;
    position: relative;
    z-index: 0;
    background-size: cover;
}

.opening .optext h1{
    font-family: "Old Japanese", sans-serif;
    color: #4E4D66;
    font-size: 57px;
    padding: 10px 0px;
    padding-left: 70px;
    word-wrap: break-word;
    width: 90%;
}

.opening .optext h3{
    font-family: "Montserrat", sans-serif;
    color: #868686;
    font-size: 20px;
    padding: 10px 0px;
    width: 90%;
    padding-left: 70px;
}

.opening .opening img{
    width: 80%;
    position: relative;
    z-index: 100;
}

.par1{
    display: flex;
    justify-content: space-evenly;
    /* flex-basis: 50%; */
    /* padding: 40px 80px; */
    position: relative;
    /* background-size: cover; */
}

.par1 .par1text h1{
    font-family: "Old Japanese", sans-serif;
    color: #4E4D66;
    font-size: 57px;
    padding: 10px 0px;
    padding-left: 70px;
    word-wrap: break-word;
    width: 90%;
}

.par1 .par1text h3{
    font-family: "Montserrat", sans-serif;
    color: #868686;
    font-size: 20px;
    padding: 10px 0px;
    width: 90%;
    padding-left: 70px;
}

.par1 .par1img img{
    width: 100%;
    position: relative;
    z-index: 1;

}


.par2{
    display: flex;
    justify-content: center;
    padding: 0px 0px;
}

.par3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 50%;
    padding: 10px 0px;
    position: relative;
    z-index: -1;
    background-size: cover;
}

.par3 .par3text{
    padding-top: 0px 0px;
}

.par3 .par3text h1{
    font-family: "Old Japanese", sans-serif;
    color: #4E4D66;
    font-size: 57px;
    padding: 0px 0px;
    padding-left: 90px;
    word-wrap: break-word;
    width: 90%;
}

.par3 .par3text h3{
    font-family: "Montserrat", sans-serif;
    color: #868686;
    font-size: 20px;
    padding: 10px 0px;
    width: 90%;
    padding-left: 90px;
}
.par3 .par3img{
    width: 80vw;
}
.par3 .par3img1{
    width: 80vw;
}

.par3 .par3img img{
    width: 100%;
    margin: 0px 0px;
    padding: 0px 0px;
    position: relative;
    z-index: 1;
    align-items: center;
}
.par3 .par3img1 img{
    width: 100%;
    margin: 0px 0px;
    padding: 0px 0px;
    position: relative;
    z-index: 1;
    align-items: center;
}

.discover {
    display: flex;
    justify-content: center;
    padding: 80px 20px;

}

.discover button{
    border: 2px solid #D94E4E;
    background-color: transparent;
    padding : 10px 20px;
    color: #D94E4E;
    border-radius: 10px;
    font-family: "Monserrat", sans-serif;
    align-items: center;
    font-weight: bold;
    font-size: 17;
}

.footer1{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    align-items: center;
    padding: 40px 20px;
    font-size: 20px;
}

.footer1 li{
    list-style-type: none;
}

.footer1 .icons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    width: 5%;
}

.footer1 .links{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    align-items: flex-start;

}

.footer1 ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: flex-start;
    color: aliceblue;
    font-family: "Monserrat", sans-serif;
}

.all-rights{
    display: flex;
    color: aliceblue;
    justify-content: center;
    font-family: "Monserrat", sans-serif;
    padding-bottom: 5px;
}



/* ABout page $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/


.h1{
    display: flex;
    justify-content: center;
    font-family: "Old Japanese", sans-serif;
    color:#4E4D66;
    font-size: 30px;
}



/* Contact page $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

.op-contact{
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
    gap: 50px;
    align-items: center;
    padding: 40px 0px;
    

}

.reach{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Old Japanese", sans-serif;
    color:#4E4D66;
    font-size: 30px;
    padding: 0px 0px;
}

form{
    background-color: #D94E4E;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fst{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* width: auto; */
}

.details{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-self: stretch;
    
    
}

.details label{
    margin: 10px 0px 5px 0px;
    width: 300px;
    font-family: "Monserrat", sans-serif;
    color: aliceblue;
}
.details input{
    font-family: "Monserrat", sans-serif;
    padding-left: 10px;
}

.message label{
    margin: 10px 0px 5px 0px;
    font-family: "Monserrat", sans-serif;
    color: aliceblue;
}

 .message{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-self: stretch;
}

.message textarea{
    resize: none;
    height: 120px;
    border-radius: 6px;
    width: 300px;
    padding-left: 10px;
    padding-top: 4px;
}

.snd {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.snd input{
    display: flex;
    justify-content: center;
    padding: 5px 10px;
    font-weight:600;
    font-family: "Motserrat", sans-serif;
    background:white;
    border: none;
    border-radius: 10px;
    color:#D94E4E;


}

.details input{
    height: 30px;
    border-radius: 6px;
    border: transparent;
    width: 100%;
    
}

.footer .logof img{
    width: 150px;
}

/*#########################################################################################*/
.order-box{
    display: flex;
    flex-direction: column;
   }
  .card-grid {
    grid-area: 1 / 1 / 6 / 10;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 1rem;
    align-items: flex-start;
    background-color: #E97171;
    padding: 1em;
    margin-bottom: 1em;
  }
  
  .card {
    --padding: 1rem;
    background: white;
    border: 1px solid #777;
    border-radius: .25rem;
    overflow: hidden;
  }
  
  .card.card-shadow {
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
  }
  
  .card-header {
    /* font-size: 1.5rem; */
    padding: var(--padding);
    padding-bottom: 0;
    margin-bottom: .5rem;
    font-family: 'Monserrat', sans-serif;
  }
  
  .card-header.card-image {
    display: flex;
    justify-content: center;
    padding: 0;
    overflow: hidden;
    padding: 10px 10px;
  }
  
  .card-header.card-image > img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* border: 1px solid #D94E4E; */
    max-height: 300px;
    aspect-ratio: 10 / 7;
    object-fit: cover;
    height: 100px;
    width: 120px;
    object-position: center;
    transition: 200ms transform ease-in-out;
    
  }
  
  .card:hover > .card-header.card-image > img {
    transform: scale(1.025);
  }

  
  .card-name {
    font-size: 1.5em;
    padding: 0 var(--padding);
    text-align: center;
    font-family: "Monserrat", sans-serif;
    margin-bottom: 10px;
  }

  .disc{
    display: flex;
    padding: 0px 10px;
    align-items: center;
    font-size: 1em;
    font-family: "Monserrat", sans-serif;
    color: #868686;
    padding-bottom: 10px;
  }
  
  .card-footer {
    margin-top: 1rem;
    padding: var(--padding);
    padding-top: 0;
    text-align: center;
  }

  .price{
    font-size: 1.5rem;
    padding: 0 var(--padding);
    text-align: center;
    color: #3C38A6;
    font-family: "Monserrat", sans-serif;
  }
  
  .btn {
    color:#D94E4E;
    border: none;
    font-size: 1rem;
    padding: .5em .75em;
    border-radius: .25em;
    cursor: pointer;
    font-family: "Monserrat", sans-serif;
    border: 2px solid #D94E4E;
    background-color: transparent;
    border-radius: 10px;
  }
  
  .btn:hover, .btn:focus {
    background:#D94E4E;
    color: aliceblue;
  }
  
  .btn.btn-outline {
    background: none;
    border: 1px solid var(--color);
    color: var(--color);
  }
  
  .btn.btn-outline:hover, .btn.btn-outline:focus {
    background: hsl(200, 50%, 90%);
  }
  
  .btn + .btn {
    margin-left: .25rem;
  }

  .panel{
    margin-bottom: 10px;
    background-color:#E97171;
    max-width: 500px;
    min-width: 400px;
    padding: 10px 10px;
    align-self: center;
}

  /* .panel{
    display: flex;
    flex-direction: column;
    background-color:#E97171;
    border-radius: .5rem;
    padding: 10px 10px;
    max-width: 300px;
    align-self: center;
} */

  .mycard{
    font-family: 'Monserrat', sans-serif;
    display: flex;
    background-color: aliceblue;
    padding: 5px 10px;
    border-radius: 10px;
    justify-content: center;
    margin-bottom: 10px;
    color:#3C38A6;
    font-weight: bold;
    border: 1px solid white;
  }
  .confirmation{
    display: flex;
    justify-content: center;
  }
.confirmation input{
    background-color: transparent;
    padding: 5px 10px;
    font-family: 'Monserrat', sans-serif;
    color: aliceblue;
    border: 1px solid white;
    align-items: center;
    color: #4E4D66;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    font-weight: bold;
    font-family: 'Monserrat', sans-serif;
}

  .cardx {
    --padding: 1rem;
    background: white;
    border: 1px solid #777;
    border-radius: .25rem;
    overflow: hidden;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .cardx.cardx-shadow {
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
  }
  
  .cardx-header {
    /* font-size: 1.5rem; */
    padding: var(--padding);
    padding-bottom: 0;
    margin-bottom: .5rem;
    font-family: 'Monserrat', sans-serif;
  }

  .cardx {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "img name remove" 
    "img disc disc"
    "img btn price" ;
    justify-content: space-around;
    padding: 10px 10px;
    gap: 10px;
    font-family: 'Monserrat', sans-serif;
}

.cardx-image{
    grid-area: img;
    width: 100px;
    height: 100px;
    /* aspect-ratio:inherit; */
}
.cardx-header.cardx-image > img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 300px;
    aspect-ratio: 10 / 7;
    object-fit: cover;
    height: 100px;
    width: 120px;
    object-position: center;
    transition: 200ms transform ease-in-out;
}
.cardx-name{
    display: flex;
    grid-area: name;
    align-self: flex-end;
    margin-bottom: 0px;
    padding-left: 10px;
}
.discx{
    grid-area: disc;
    display: flex;
    justify-content: center;
    color: #868686;
    
}
.pricex{
    grid-area: price;
    display: flex;
    align-items: center;
    font-family: 'Monserrat', sans-serif;
    color: #3C38A6;
}
.cardx-footer{
    display: flex;
    justify-content: center;
    /* background-color: #868686; */
    border: 1px solid #777;
    border-radius: 10px;
    gap: 10px;
    grid-area: btn;
    margin-top: 0em;
    padding: 10px;
    width: fit-content;
    font-family: 'Motserrat', sans-serif;
}

.cardx-footer ic{
    color: #3C38A6;
    cursor: pointer;
}
.remove{
    grid-area: remove;
    display: flex;
    justify-content: end;
}

.total{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    gap: 10px;
    /* width: fit-content; */
    align-items: center;
    background-color: transparent;
    padding: 5px 10px;
    font-family: 'Monserrat', sans-serif;
    color: aliceblue;
    color: white;
    /* background-color: white; */
    border-radius: 10px;
    /* font-weight: bold; */
    margin-bottom: 10px;
}